.tp {
    text-align: right;
    padding-top: 15px;
}

.tp>article.fototp {
    max-width: 60%;
}

section.tp>article>img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


@media (min-width: 768px) {


    .tp {

        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content:flex-start;
    }

    .tp>article.fototp {
        max-width: 40%;
    }

    h2.tp {}













}