.nav-container ul {
  font: Raleway;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.nav-container ul li {
  font: Raleway;
  display: inline-block;
  margin-right: 10px;
}

.nav-container ul li:last-child {
  font: Raleway;
  margin-right: 0;
}

li {
  font: Raleway;
  width: 60%;
  background-color: aqua;
}

.body {
  font: Raleway;
}

.navigationBarMain {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
/* .navText {
  font-size: 18px;
  color: #ffffff;
  text-shadow: 2px 2px 4px #7309fd;
} */

.navImageContainer {
  width: 50px;
  height: 50px;
  margin: 0;
}
.navImageContainer img {
  border-radius: 50%;
  object-fit: cover;
  /*   
  max-width: 50px;
  max-height: 50px; */
}

@media (min-width: 1280px) {
  .navigationBarMain {
    width: 1280px;
    margin: 0 auto; /* Centers the navigation bar */
  }
}

@media (max-width: 990px) {
  .navigationBarMain {
    justify-content: center;
  }
}
