.talent {
    background-color: #DF5E5E;
    color: #FFFFFF;
    font-weight: bold;
    margin: 15px;
}

.company {
    background-color: #70AF8B;
    color: #FFFFFF;
    font-weight: bold;
    margin: 15px;
}

input {

    background-color: #FFFFFF;
    color: #455057;
}