.talent {
    background-color: #DF5E5E;
    color: #FFFFFF;
    font-weight: bold;
    margin: 15px;
    width: 200px;
}

.company {
    background-color: #70AF8B;
    color: #FFFFFF;
    font-weight: bold;
    margin: 15px;
    width:200px;
}

input {

    background-color: #FFFFFF;
    color: #455057;
    margin: 10px;
}

form {

    display: flex;
    flex-direction: column;
    align-items: center;
}


button {
}

.foto9 img {
    max-width: 80%;
}

h2 {
    padding-top: 25px;
}

@media (min-width: 768px) {
    .firstLogin {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    button {
        padding: 120px;
    }

}