.company {
    background-color: #70AF8B;
    color: #FFFFFF;
    font-weight: bold;
}

form {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

input {

    margin: 10px;
}

button {
    width: 200px;
}

.cr>article {
    max-width: 60%;
}

.cr>article>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.cr {

    padding-top: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: colu
}

.h2cr {

    margin-top: 35px;
    text-decoration: underline;
    text-decoration-color: #70AF8B;
    margin-top: 35px;
}

@media (min-width: 768px) {

    section.cr {
        padding-top: 0px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .cr>article {
        max-width: 30%;
        display: flex;
        margin-left: 0;
    }

    section.cr div {
        width: 60%;
    }

    h1.cr {
        margin-top: 0;
    }




}