.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinners {
  -moz-appearance: textfield;
}

.addedFormField {
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: green;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

.addedFieledContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  max-width: 400px;
}

.inputButtonContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.inputButtonContainer .btn {
  margin-left: 10px;
}

.talent {
  background-color: #DF5E5E;
  color: #FFFFFF;
  font-weight: bold;
  margin: 15px;
}


form {

  display: flex;
  flex-direction: column;
  align-items: center;
}

input {

  margin: 10px;
}

button {
  width: 200px;
}

.tr>article>img {
  max-width: 80%;
}

section.tr {

  padding-top: 15px;
}

@media (min-width: 768px) {
  section.tr {
    padding-top: 35px;
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  .tr>article {

    max-width: 40%;
    display: flex;
  }

  section.tr div {
    display: block;
  }





}