.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinners {
  -moz-appearance: textfield;
}

.addedFormField {
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: green;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

.addedFieledContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  max-width: 400px;
}
.inputButtonContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.inputButtonContainer .btn {
  margin-left: 10px;
}
