body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.firstSection {
  text-align: center;
}

.firstSection article {
  margin-bottom: 20px;
}

.secondSection {
  background-color: #f9f9f9;
  padding: 20px;
}

.secondSection article {
  margin-bottom: 20px;
}

.secondSection h3 {
<<<<<<< HEAD
  padding-top: 15px;
  padding-bottom: 15px;
=======
    padding-top: 15px;
    padding-bottom: 15px;
>>>>>>> dev-production
}

.thirdSection {
  text-align: center;
  padding: 20px;
}

.thirdSection h3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.thirdSection article {
  padding-top: 15px;
  margin-bottom: 20px;
}

.fourthSection {
  background-color: #f9f9f9;
  padding: 20px;
  padding-bottom: 30px;
}

.fifthSection {
  text-align: center;
  padding: 20px;
}

.fifthSection article {
  margin-bottom: 20px;
  padding: 15px;
}

.fifthSection h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.sixthSection {
  background-color: #f9f9f9;
  padding: 120px;
}

.seventhSection {
  text-align: center;
  padding: 20px;
}

.seventhSection article {
  margin-bottom: 20px;
}

.buttons {
  padding-top: 15px;
}

@media (min-width: 768px) {
  button {
    /* border-radius: 5%; */
  }

  img {
    max-width: 100%;
  }

  h1,
  h2 {
    padding-top: 100px;
    padding-bottom: 100px;
    font-weight: bold;
  }

  p {
    padding: 15px;
  }

  .firstSection,
  .seventhSection {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
  }

  .firstSection article {
    flex: 1;
    width: 50%;
    padding: 15px;
  }

  .firstSection article p {
    font-size: larger;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
  }

  .talent {
    background-color: #df5e5e;
    color: #ffffff;
    font-weight: bold;
  }

  .company {
    background-color: #70af8b;
    color: #ffffff;
    font-weight: bold;
  }

  .secondSection {
    display: flex;
    flex-direction: row;
    /*  background-color: #d3d6d8; */
  }

  .secondSection article {
    width: 50%;
  }

  .secondSection article img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .thirdSection {
    display: flex;
    padding-top: 100px;
  }

  .thirdSection article {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .fifthSection {
    display: flex;
    flex-direction: row;
  }

  .fifthSection article {
    padding: 5px;
  }

  .foto3 {
    margin-left: 0;
  }

  .seventhSection article {
    flex: 1;
    width: 50%;
  }
}
